{% extends "base.html" %} {% block title %}Home{% endblock %}{% block container
%}
<form method="POST" class="mb-5">
  <h4 class="mb-3">New Todo</h4>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title" />
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Description</label>
    <input type="text" class="form-control" id="desc" name="desc" />
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>
<div class="list-group">
  {% if current_user.todos %}
  <h4 class="mb-3">My Todos</h4>
  {% for todo in current_user.todos %}
  <a class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ todo.todo }}</h5>
      <button
        type="button"
        class="close"
        aria-label="Close"
        onclick="deleteTodo('{{todo.id}}')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <p class="mb-1">{{ todo.desc }}</p>
    <small>{{ todo.date }}</small>
  </a>
  {% endfor %} {% endif %}
</div>
{% endblock %}
