{% extends "base.html" %} {% block title %}Home{% endblock %}{% block container
%}
<form method="POST">
  <h4 class="mb-3">New Todo</h4>
  <div class="mb-3">
    <input type="text" class="form-control" id="todo" name="todo" />
  </div>
</form>
<div class="list-group">
  {% for todo in current_user.todos %}
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ todo.todo }}</h5>
      <small>{{ todo.date }}</small>
    </div>
    <p class="mb-1">Some placeholder content in a paragraph.</p>
  </a>
  {% endfor %}
</div>
{% endblock %}
